<div class="bookmark-ctn container">
   <br>
    <% @bookmarks.each do |bookmark| %>

      <div data-controller="bookmark icon">

        <div class="bookmark-card" id="<%= dom_id(bookmark) %>">

          <div class="d-flex delete justify-content-end">
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE this task?"} do %>
                <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
          <div class="d-flex">
            <div>
              <%# <i class="<%= Bookmark::ICONS[bookmark.reminder.title]"></i>  %>
              <i class="fa-solid <%= bookmark.icon %> icon-status" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-icon-target="iconDrop"></i>
              <div class="dropdown-menu dropdown-menu-end rounded-pill" aria-labelledby="navbarDropdown" data-icon-target="dropDown">
                <div class="d-flex div-icons">
                  <%= link_to change_status_bookmark_path(bookmark, status: :emailed), remote: true, data: {turbo_method: :patch} do %>
                    <i class="fa-solid fa-envelope icon-status" data-action="click->icon#changeIcon" data-icon-target="envelopeIcon"></i>
                  <% end %>
                  <%= link_to change_status_bookmark_path(bookmark, status: :schedulled), remote: true, data: {turbo_method: :patch} do %>
                    <i class="fa-solid fa-calendar icon-status" data-action="click->icon#changeIcon" data-icon-target="envelopeIcon"></i>
                  <% end %>
                  <%= link_to change_status_bookmark_path(bookmark, status: :called), remote: true, data: {turbo_method: :patch} do %>
                    <i class="fa-solid fa-phone icon-status" data-action="click->icon#changeIcon" data-icon-target="envelopeIcon"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="infos mt-1">
            <%= link_to kinder_garten_path(bookmark.kinder_garten) do %>
              <h6><%= bookmark.kinder_garten.name %></h6>
            <% end %>
              <p><%= bookmark.kinder_garten.address %></p>
            </div>
          </div>

          <div data-action="click->bookmark#showContent" class="text-center arrows">
            <i class="fa-solid fa-chevron-down" data-bookmark-target="down"></i>
            <i class="fa-solid fa-chevron-up d-none" data-bookmark-target="up"></i>
          </div>

          <div class="bookmark-show d-none" data-bookmark-target="content">
            <p><%= bookmark.kinder_garten.email %></p>
            <p><%= bookmark.kinder_garten.phone_number %></p>
            <div>
              <% if bookmark.kinder_garten.opening_time || bookmark.kinder_garten.closing_time == true %>
                <h6>Opening hours</h6>
                <p><%= bookmark.kinder_garten.opening_time %> - <%= bookmark.kinder_garten.closing_time %></p>
              <% end %>
            </div>
            <div>
              <% if bookmark.kinder_garten.pedagogical_focus? %>
                <h6>Pedagogical focus</h6>
                <p><%= bookmark.kinder_garten.pedagogical_focus %></p>
              <% end %>
            </div>
            <div>
              <% if bookmark.kinder_garten.thematic_focus? %>
                <h6>Thematic focus</h6>
                <p><%= bookmark.kinder_garten.thematic_focus %></p>
              <% end %>
            </div>
            <div data-controller="bookmark-comment">
              <div data-action="click->bookmark-comment#showForm">
                <div class="d-flex justify-content-start">
                  <%= image_tag "pencil.png", class: "image-icon" %>
                  <h6 class="m-2 edit comment bm-link">Add a comment</h6>
                </div>
                  <p class="p-3 user-comment border" data-book><%= bookmark.comment %></p>
              </div>
              <div class="d-none comment" data-bookmark-comment-target="input">
                  <%= simple_form_for bookmark do |f| %>
                    <%= f.input :comment, as: :text, class: 'content', input_html: { data: { bookmark_comment_target: "text" } }%>
                    <%= f.submit "Edit Comment", class: 'btn btn-secondary mb-3 submit', data: { turbo: false, action: "click->bookmark-comment#hideForm"} %>
                  <% end %>
              </div>
            </div>
            <div>
              <%= link_to reminders_path do %>
                <div class="d-flex justify-content-start">
                  <%= image_tag "calendar.png", class: "image-icon" %>
                  <h6 class="m-2 edit comment bm-link">See Reminders</h6>
                </div>
              <% end %>
              <br>
              <br>
            </div>
            <% if current_user.chat_id.present? %>
            <div class="buttons d-flex justify-content-between">
              <%= link_to templates_path(email: bookmark.kinder_garten.email) do%>
                <button class="btn btn-primary">Contact Kita</button>
              <% end %>
              <%= link_to new_bookmark_reminder_path(bookmark) do%>
                <button class="btn btn-secondary">Set reminder</button>
              <% end %>
            </div>
            <% else %>
              <%= link_to templates_path(email: bookmark.kinder_garten.email) do%>
                <button class="btn btn-primary">Contact Kita</button>
              <% end %>
              <div class="mt-3 p-3 bg-light border info-card">
                To receive reminders via Telegram, send this security token <strong> <%= current_user.telegram_token %> </strong> to
                <%= link_to "our bot", "https://t.me/my_kita_bot", target: "_blank", class: "link-warning" %>
                <br>
                <br>
                <%= link_to "Confirm", job_fetch_id_path, class: "btn btn-info" %>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    <% end %>

    <div class="bm-search-container d-flex" data-controller="search-task">
      <div class="input d-none" data-search-task-target="input">
        <%= form_with url: bookmarks_path, method: :get, local: true do |f| %>
          <%= text_field_tag :query, params[:query],
                            class: "form-control",
                            placeholder: "Find a task" %>
        <% end %>
      </div>
      <div class="icon" data-action="click->search-task#showSearch">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
</div>
