<h1><%= @kinder_garten.name %></h1>
<h4><%= @kinder_garten.pedagogical_focus %></h4>
<p><%= @kinder_garten.address %></p>
<p><%= @kinder_garten.email %></p>
<p><%= @kinder_garten.phone_number %></p>

<%= link_to "Creat bookmark", new_kinder_garten_bookmark_path(@kinder_garten) %>
