<div>
  <div>

  </div>
  <div class="container p-5">
    <h1><%= @kinder_garten.name %></h1>
    <div class="lh-1">
      <p><%= @kinder_garten.address %></p>
      <p><%= @kinder_garten.email %></p>
      <p><%= @kinder_garten.phone_number %></p>
    </div>
    <br>
    <div>
    <h6>Opening hours</h6>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    </div>

    <div data-controller="alert">
      <%= link_to "Add to list", kinder_garten_bookmarks_path(@kinder_garten) ,data: { turbo_method: :post, action: 'click->alert#showAlert' } %>
    </div>
  </div>
</div>
