<div class="container pt-5">
  <div class="pt-4 pb-4">
    <%= month_calendar(attribute: :due_date, events: @reminders) do |date, reminders| %>
        <%= date.day %>
          <% reminders.each do |r| %>
            <% if r.present? %>
              <div style="background-color: #4743FF">
                <p>|</p>
              </div>
            <% end %>

            <div class="reminder-show d-none">
              <%= link_to reminder_path(r), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE you booking?"} do %>
                  <i class="fa-solid fa-xmark"></i>
              <% end %>
              <h6><%= r.title %></h6>
              <p><%= r.content %></p>
              <p><%= r.due_date %></p>
                <div class="d-flex">
                  <span>
                    <%= button_to "Edit", edit_reminder_path(r), class: " btn btn-secondary"%>
                  </span>
                    <%= button_to "Get notification", reminder_message_path(r), class: "btn btn-primary" %>
                </div>
            </div>

          <% end %>
    <% end %>
  </div>
</div>
