<div class="container pt-5">
  <div class="mt-5 p-5 bg-light border">
    To receive reminders via Telegram, please add your phone number to your
    <%= link_to "profile", profile_path(current_user.profile), target: "_blank", class: "link-warning" %>
  </div>
  <% @reminders.each do |r| %>
    <div>
      <h2 class="pt-5"><%= r.title %></h2>
      <p><%= r.content %></p>
      <p><%= r.due_date %></p>
      <div class="d-flex">
        <span>
          <%= link_to reminder_path(r), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE you booking?"} do %>
            <i class="fa-solid fa-trash" id="trash-can"></i>
          <% end %>
        </span>
        <span>
          <%= button_to "Edit", edit_reminder_path(r), class: " btn btn-secondary"%>
        </span>
          <%= button_to "Send notification", reminder_message_path(r), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
