<div class="container padding-top">
  <div class="form-control-login row justify-content-center">
    <div class="col-11">
      <h1 class="text-center">New email template</h1>
      <br>
      <%= simple_form_for(@template) do |f| %>
        <div class="form-inputs col-sm-12 col-lg-6 mb-3">
          <%= f.input :title, label: "Subject" %>
          <%= f.input :content, input_html: {rows: 9} %>
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>
      <div class="col-sm-12 col-lg-6 mb-3">
      <%= link_to "Back to templates", templates_path, class: "btn btn-secondary mt-2"%>
      </div>
    </div>
  </div>
</div>
