<% if controller_name == "pages" && action_name == "home" %>
<%# Transparent navbar %>
  <div class="navbar fixed-top navbar-expand-sm navbar-light navbar-transparent">
    <div class="container-fluid">
      <%= link_to "/", class: "navbar-brand" do %>
        <img src="<%= asset_path 'logo-white.png' %>" alt="">
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse menudiv" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <p class="line">_____</p>
            <li class="nav-item active">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", profile_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookmarks", bookmarks_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Reminders", reminders_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <%# normal navbar %>
    <div class="navbar fixed-top navbar-expand-sm navbar-light navbar-normal">
      <div class="container-fluid">
        <%= link_to "/", class: "navbar-brand" do %>
          <img src="<%= asset_path 'logo-dark.png' %>" alt="">
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menudiv" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <p class="line">_____</p>
              <li class="nav-item active">
                <%= link_to "Home", "/", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", profile_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Bookmarks", bookmarks_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Reminders", reminders_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, class: "nav-item", data: {turbo_method: :delete} %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>
