<% if controller_name == "pages" && action_name == "home" %>
<%# Transparent navbar %>
  <div class="navbar fixed-top navbar-light navbar-transparent">
    <div class="container-fluid">
      <%= link_to "/", class: "navbar-brand" do %>
        <img src="<%= asset_path 'logo-white.png' %>" alt="Logo">
      <% end %>
      <%= render "layouts/dropup" %>
    </div>
  </div>
<% else %>
  <%# normal navbar %>
    <div class="navbar fixed-top navbar-light navbar-normal">
      <div class="container-fluid">
          <%= link_to :back, class: "back-link" do %>
            <i class="fa-solid fa-arrow-left"></i>
          <% end %>
          <%= link_to "/", class: "navbar-brand" do %>
            <img src="<%= asset_path 'logo-dark.png' %>" alt="Logo">
          <% end %>
        <%= render "layouts/dropup" %>
      </div>
    </div>
<% end %>
